<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/messager.css">
    <link rel="stylesheet" href="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">聊天室</p>
            <a class="navbar-brand" href="#/room">chat</a>
        </div>
    </div>
</nav>
<div class="container chat">
    <div class="row" ng-view></div>
</div>

<input type="hidden" ng-init="param={namespace:'<%=namespance %>',room:'<%=room %>'}">

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="../../lib/jquery/dist/jquery.js"></script>
<script src="../../lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular-route/angular-route.js"></script>
<script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script src="../../js/chatCtrl.js"></script>
<script src="../../js/roomCtrl.js"></script>
<script src="../../js/twoCtrl.js"></script>
<script src="../../js/directives/dialog.js"></script>

</html>