<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/messager.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">聊天室</p>
            <a class="navbar-brand" href="#/room">chat</a>
        </div>
    </div>
</nav>
<h1 style="color: #fff0f0;text-align: center;width: 100%;">Index Home</h1>
<div class="btn-group-lg" role="group" aria-label="Large button group" style="text-align: center;margin-top: 100px;">
    <button type="button" class="btn btn-default"><a href="/chats/">root root </a></button>
    <button type="button" class="btn btn-default"><a href="/chats/live/1">live 1 </a></button>
<!--    <button type="button" class="btn btn-default"><a href="/chats/vod/2">vod 2 </a></button>
    <button type="button" class="btn btn-default"><a href="/chats/chatroom/3">chatroom 3</a></button>-->
</div>
<div class="btn-group-lg" role="group" aria-label="Large button group" style="text-align: center;margin-top: 100px;">
    <button type="button" class="btn btn-default"><a href="/chats/">root root </a></button>
    <button type="button" class="btn btn-default"><a href="/chats/live/3">live 3</a></button>
<!--    <button type="button" class="btn btn-default"><a href="/chats/vod/2">vod 2</a></button>
    <button type="button" class="btn btn-default"><a href="/chats/chatroom/3">chatroom 3</a></button>-->
</div>
<div class="btn-group-lg" role="group" aria-label="Large button group" style="text-align: center;margin-top: 100px;">
    <button type="button" class="btn btn-default"><a href="/chats/wechat/6">wechat 6 </a></button>
    <button type="button" class="btn btn-default"><a href="/chats/wechat/4">wechat 4</a></button>
    <button type="button" class="btn btn-default"><a href="/chats/livetest/1">livetest 1</a></button>
</div>

<div class="btn-group-lg" role="group" aria-label="Large button group" style="text-align: center;margin-top: 100px;">
    <button type="button" class="btn btn-default"><a href="/chats/service/163045">service 163045</a></button>
    <button type="button" class="btn btn-default"><a href="/chats/service/3">service 3</a></button>
</div>

</body>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</html>