<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">聊天室</p>
            <a class="navbar-brand" href="#/room">chat</a>
        </div>
    </div>
</nav>
<div class="container">
    <!-- 在index.html中，使用ng-view指令放一个占位符，Angular可以根据URL地址的不同载入对应的视图和控制器； -->
    <div class="row" ng-view></div>
</div>
</body>
<script src="/js/socket.io.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/firebase/firebase.js"></script>
<script src="/lib/angularfire/dist/angularfire.js"></script>


<script src="js/chatCtrl.js"></script>
<script src="js/indexCtrl.js"></script>
<script src="js/roomCtrl.js"></script>

</html>