<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>

<pre></pre>

<input type="text" placeholder="text" class="text" id="input1">

<button class="button">发送消息（test）</button>

<div class="message"></div>

<script type="text/javascript" src="http://danmaku.kankanews.com/socket.io/socket.io.js"></script>
<!--
<script type="text/javascript" src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
-->

<script>

    var socket = io.connect('http://danmaku.kankanews.com/service');

/*
    var socket = io.connect('http://127.0.0.1:3000/service');
*/

    var cooper =   {
        avatar : "http://pudong.xun-ao.com/d/file/imageapi/2016-12/585a12be43ff0.png",
        "live_id" : 58,
        message : "\U5168\U6587",
        name : '1212',
        "user_id" : 25,
    }


    socket.on('connect', function(){
        socket.emit('userEnter',{room:163045});
    });

    document.querySelector('.button').addEventListener('click',function(){
        var vv = document.getElementById("input1").value;
        cooper.message = vv
        cooper.name = Math.random().toString(36).substr(2)
        socket.emit('sendMessage',cooper);
    });

    socket.on('message.add',function(msg){
        console.log(msg);
        var textnode=document.createTextNode(JSON.stringify(msg));
        document.querySelector('.message').appendChild(textnode);
    });

    socket.on('message.error',function(msg){
        console.log('messageError',msg);
    });

</script>
</body>
</html>