<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/indexWthout.css">
    <link rel="stylesheet" href="../public/css/messager.css">
    <link rel="stylesheet" href="../public/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">聊天室</p>
            <a class="navbar-brand" href="#t/room">chat</a>
        </div>
    </div>
</nav>
<div class="container chat">
    <div class="row" ng-view></div>
</div>

<input type="hidden" ng-init="param={namespace:'live',room:'144'}">

</body>
<script src="http://54.222.215.248/socket.io/socket.io.js"></script>
<!--
<script src="/socket.io/socket.io.js"></script>
-->
<script src="../public/lib/jquery/dist/jquery.js"></script>
<script src="../public/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../public/lib/angular/angular.js"></script>
<script src="../public/lib/angular-route/angular-route.js"></script>
<script src="../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script src="../public/js/chatWithoutCtrl.js"></script>
<script src="../public/js/roomCtrl.js"></script>
<script src="../public/js/twoCtrl.js"></script>
<script src="../public/js/directives/dialog.js"></script>

</html>